<div class="container form-container">
    <h1><strong><font color="0000FF">Le Chat Merveilleux</font></strong></h1>
    <mat-form-field>
        <input type="text" matInput placeholder="Identifiant" [(ngModel)]="login"/>
    </mat-form-field><br>
    <mat-form-field>
        <input type="password" matInput placeholder="Mot de passe" [(ngModel)]="password"/>
    </mat-form-field><br>
    <button mat-raised-button color="primary" type="Submit" (click)="loginUsingForm()">S'identifier</button><br>
    <button mat-raised-button color="disabled" type="Submit" routerLink="/signin">S'inscrire</button>
</div>

