
<div class="sidenav">
    <div class="sidenav-content">
        <div class="button-container">
            <button mat-button color="accent" id="close-button" (click)="this.hide()">
                <mat-icon>close</mat-icon>
            </button>
            <button mat-button class="room-link">Room 000</button>
            <button mat-button class="room-link">Room 001</button>
            <button mat-button class="room-link">Room 002</button>
        </div>
    </div>
    
    <!-- Masque d'opacité -->
</div>
<div id="sidenav-collider" ></div>
