<div class="container form-container">
    <h1>LeChatMerveilleux</h1>
    <mat-form-field>
        <input #pseudo type="text" matInput placeholder="Pseudo"/>
    </mat-form-field>
    <br/>
    <mat-form-field>
        <input #identifiant type="email" matInput placeholder="Identifiant"/>
    </mat-form-field>
    <br/>
    <mat-form-field>
        <input #motDePasse type="password" matInput placeholder="Mot de passe"/>
    </mat-form-field>
    <br/>
    <mat-form-field>
        <input #confirmerMotDePasse type="password" matInput placeholder="Confirmer"/>
    </mat-form-field>
    <br/>
    <button mat-raised-button color="primary" type="Submit">S'inscrire</button>
</div>