<div class="container form-container">
    <h1><strong><font color="0000FF">Le Chat Merveilleux</font></strong></h1>
    <mat-form-field>
        <input type="text" matInput placeholder="Pseudo" [(ngModel)]="pseudo"/>
    </mat-form-field>
    <br/>
    <mat-form-field>
        <input type="login" matInput placeholder="Login" [(ngModel)]="login"/>
    </mat-form-field>
    <br/>
    <mat-form-field>
        <input type="telephone" matInput placeholder="Telephone" [(ngModel)]="telephone"/>
    </mat-form-field>
    <br/>


    <mat-form-field>
        <input type="password" matInput placeholder="Mot de passe" [(ngModel)]="password"/>
    </mat-form-field>
    <br/>
    <mat-form-field>
        <input type="password" matInput placeholder="Confirmer" [(ngModel)]="confirmPassword"/>
    </mat-form-field>
    <br/>
    <button mat-raised-button color="primary" type="Submit" (click)="signInUsingForm()">S'inscrire</button>
    <button mat-raised-button routerLink="/home">Retour</button>
    <p class="message error" [innerText]="message"></p>
</div>