<div class="container form-container">
    <h1>LeChatMerveilleux</h1>
    <mat-form-field>
        <input type="text" matInput placeholder="Pseudo" [(ngModel)]="pseudo"/>
    </mat-form-field>
    <br/>
    <mat-form-field>
        <input type="email" matInput placeholder="Identifiant" [(ngModel)]="id"/>
    </mat-form-field>
    <br/>
    <mat-form-field>
        <input type="password" matInput placeholder="Mot de passe" [(ngModel)]="password"/>
    </mat-form-field>
    <br/>
    <mat-form-field>
        <input type="password" matInput placeholder="Confirmer" [(ngModel)]="confirmPassword"/>
    </mat-form-field>
    <br/>
    <button mat-raised-button color="primary" type="Submit" (click)="signInUsingForm()">S'inscrire</button>
</div>