ul{
    list-style: none;
    font-size: 1em;
}

#options{
    display: flex;
    align-items: space-around;
    justify-content: flex-end;
    width: 100%;
}

#options button{
    margin: 0px 6px;
    font-weight: 300;
}

#connect-button{
    background-color: #1D61EE;
}

#disconnect-button{
}

#pseudo-pill{
    color: rgb(83, 82, 82);
}