<mat-toolbar>
    <span id="logo">{{title}}</span>
    <div id="options">
        <button mat-button id="pseudo-pill" color="disabled" *ngIf="isUserConnected()" routerLink="/profile">{{pseudo}}</button>
        <button mat-button id="home-button" routerLink="/home">Home</button>
        <button mat-button id="chat-button" routerLink="/chattin" *ngIf="isUserConnected()">Salons</button>
        <button mat-button id="connect-button" routerLink="/login" *ngIf="!isUserConnected()">Connexion</button>
        <button mat-button color="warn" id="disconnect-button" (click)="disconnectUser()" *ngIf="isUserConnected()">Deconnexion</button>
        <!--<button mat-button id="sign-button" routerLink="/signin">S'inscrire</button>-->
    </div>
</mat-toolbar>