.chat-input{
    height: 72px;
    position: fixed;
    bottom: 0;
    display: inline-block;
    left:0;
    width: 100%;
    background-color: none;
    color: cornsilk;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

#send-button{
    margin-left: 12px;
    background-color: #1D61EE;
}

#field{
    width: 33%;
    height: 64px;
    font-size: 1.2em;
}

