<mat-card class="message-card other">
    <mat-card-title class = "message-autor">Username</mat-card-title >
    <mat-card-subtitle class= "message-time">12:00</mat-card-subtitle>
    <mat-card-content class="message-content">
        As we can observe, all getters and setters were created. 
        Getter and setters for all fields are public because we 
        didn't specify the access level on any field explicitly.
    </mat-card-content>
</mat-card>
<mat-card class="message-card self">
    <mat-card-title class = "message-autor">Username</mat-card-title >
    <mat-card-subtitle class= "message-time">12:00</mat-card-subtitle>
    <mat-card-content class="message-content">
        As we can observe, all getters and setters were created. 
        Getter and setters for all fields are public because we 
        didn't specify the access level on any field explicitly.
    </mat-card-content>
</mat-card>
