.container-chat-box{   
    width: 55%;    
    height: 450px;
    background-color: rgb(240, 176, 176);
    margin: 0 auto;
    margin-top: 2%;
    border-top-left-radius: 25px;
    border-top-right-radius: 1%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 1%;
    overflow: hidden;  
    overflow-y: scroll;
    justify-content: flex-end;
    padding: 1%; 
    box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.571); 
    border-style: solid;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: hsl(212, 93, 24);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.info-message{
    font-style: italic;
    text-align: center;
    font-size: 1.2em;
}

.visible{
    visibility: visible;
    display: block;
}

.hidden{
    visibility: hidden;
    display: none;
}