<div class="container">
  <div class="row">
    <h2 class="text-center" style="color:rgb(167, 167, 168);">Modification de profil</h2>
    <div class="col-sm-5">

    </div>
    <div class="col-sm-2">
      
    </div>


  </div>

  <div class="text-center">
    <h3 class="titre2" style="color:rgb(167, 167, 168);">Profil de {{pseudo}}</h3>
    <br>
    <form #formProfil="ngForm" style="width: 50%; margin: auto;">

      <div class="form-group">
        <p style="color:rgb(167, 167, 168);">id : {{id}}</p>
        <!--<p>{{userConnecte.telephone}}</p> -->
      </div>
      <div class="form-group">
        <p style="color:rgb(167, 167, 168);">Score CHAT : --</p>
        <!--<p>{{userConnecte.telephone}}</p> -->
      </div>

      <div class="form-group">
        <p style="color:rgb(167, 167, 168);">Nombre d'AMIS : 00</p>
        <!--<p>{{userConnecte.telephone}}</p> -->
      </div>
      <br>
      <br>
      <br>

    </form>
    <form #formModifProfil="ngForm" (ngSubmit)="modifProfil()" class="row">
      <div class="col-sm-4">

      </div>
      <div class="col-sm-4">
        <div class="text-center">
          <p> Modifier votre pseudo </p>
          <mat-form-field>
            <!-- 
                <input type ="text" matInput class="form-control text-center" value="{{pseudo}}"
                name="new_pseudo" [(ngModel)]="userModif.pseudo">
               -->
            <input type="text" matInput class="form-control text-center" style="color:rgb(167, 167, 168);" name="pseudo"
              [(ngModel)]="user.pseudo">

          </mat-form-field>
        </div>
        <div class="text-center">
          <p> Modifier votre email </p>
          <mat-form-field>
            <input type="text" matInput class="form-control text-center" style="color:rgb(167, 167, 168);" name="email"
              [(ngModel)]="user.email">

          </mat-form-field>
        </div>
        <div class="text-center">
          <p> Modifier votre téléphone </p>
          <mat-form-field>
            <input type="text" matInput class="form-control text-center" style="color:rgb(167, 167, 168);"
              name="telephone" [(ngModel)]="user.telephone">


          </mat-form-field>
        </div>
        <div class="text-center">
          <p> Modifier votre mot de passe </p>
          <mat-form-field>
            <input type="text" matInput class="form-control text-center" style="color:rgb(167, 167, 168);"
              name="password" [(ngModel)]="user.password">

          </mat-form-field>
        </div>
        <!--  
            <div class="text-center">
              <p> Confirmer votre mot de passe </p>
              <mat-form-field>
                <input type ="text" matInput class="form-control text-center" style="color:rgb(167, 167, 168);" placeholder="Confirmer Nouveau Mot de passe" 
                name="password2" #pw2>
      
              </mat-form-field>
            </div> 

           -->
      </div>
      <button class="btn btn-primary text-center" routerLink="/home">Accueil</button>
      <button type="submit" [disabled]="!formProfil.form.valid" class="btn btn-primary text-center">Modifier votre
        profil</button> -->

    </form>

    <!-- <button  class="btn btn-primary text-center" routerLink="/home" >Accueil</button> -->
  </div>




</div>