p{
    color:whitesmoke;
}
.container{ 
    display: flex;
    flex-direction: column;
    /*border: 1px dashed greenyellow;*/
    width: 600px;
    align-items: center;
    margin-top: 8%;
    margin-bottom: 8%;
    padding: 16px 0px;
    border-radius: 5px;
    background-color: rgba(173,216,230, 0.7);
    box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.571);    
}

