p{
    color:black;
}
.container{ 
    display: flex;
    flex-direction: column;
    /*border: 1px dashed greenyellow;*/
    width: 600px;
    align-items: center;
    margin-top: 16px;
    padding: 16px 0px;
    border-radius: 5px;
    background-color: rgba(173,216,230, 0.85);
    box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.571);    
}

button{
    width:100%;
    margin: 8px 0px;
}

#pick-button{
    background-color: white;
    width: 48px;
    height: 48px;
    margin-left: 12px;
}

.avatar-profile{
    width: 100px;
    height: 100px;
    background-color: darkgrey;
    border-radius: 100px;
    padding: 8px 8px;
}

.form-control{
    color: black;
}

.label{
    font-weight: 500;
}