.home{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(../../assets/sai-lake.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    margin: 0;
    position: fixed;
    left: 0;
}