<div class ="container">
    <div class="home">
        <br>
        <br>
        <br>
        <br>
        <h1 style=" color:azure; font-size:40px; " class="text-center"><span></span><span>Bienvenue</span></h1>
        <h1 style="color:azure; font-size:40px;  " class="text-center"><span>Le CHAT </span>  <span>MERVEILLEUX</span></h1>
        <br>
        <br>
        <br>
        <br>
    </div>
    <br>
    <div class="row">
        
        <div class="col-sm-4" >            
            <img style="margin-left:100px" src="assets/chat.png" alt="" width="200" height="200">            
        </div>
        <div class="col-sm-6">
            <br>
            <p class="text-center" style="margin-left:12px"> Envie de discuter avec de nouvelles personnes et te divertir? <br>Plusieurs salons de discussion sont disponibles sur  </p>  <h2 style="color:azure; font-size:20px;  " class="text-center"><span>Le </span>CHAT <span>MERVEILLEUX</span></h2>
            <button style="margin-left:150px"  class="btn btn-primary text-center" routerLink="/chattin" >Rejoins vite ton salon preféré</button>            
        </div>
    </div>
    <div id="bande_horizontale"></div>
    <br>
    <br>    
    <div class="row">
        <div class="col-sm-6">
            <!-- <p class="text-center"> Rejoins vite ton salon preféré 👉 href='' </p> -->
            <br>
            <br>
            <p class="text-center"> Des jeux de qualité sont accessibles! <br><br> Jeu du snake, pacman et d'autres à découvrir sur notre plateforme</p>
            <button style="margin-left:110px" class="btn btn-primary text-center" routerLink="/game-menu" >Découvre les différents jeux maintenant! </button>            
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-4" >
            <img src="assets/jeux.jpg" alt="" width="200" height="200">            
        </div>
    </div>
    <br>
    <div id="bande_horizontale"></div>
    <br>    
    <div class="row">
        <div class="col-sm-4" >
            <img style="margin-left:100px"src="assets/widgets.png" alt="" width="200" height="200">            
        </div>
        <div class="col-sm-6">
            <br>
            <br>
            <br>
            <p> Besoin d'outils spécifiques? Nous sommes là pour vous <br><br> Calculatrice, Actualité, météo et autres widgets sont à votre disposition!</p>
            <!-- <p class="text-center"> Rejoins vite ton salon preféré 👉 href='' </p> -->
            <button style="margin-left:120px" class="btn btn-primary text-center" routerLink="/widgets" >Essaye les widgets disponibles</button>            
        </div>
    </div>
</div>
<br>
<br>

